In [1]:
# packages for today's class
import numpy as np
import pandas as pd

In [3]:
# What is timeseries

from datetime import datetime
now = datetime.now()
now

datetime.datetime(2016, 3, 1, 18, 19, 0, 344000)

In [4]:
now.year

2016

In [5]:
str(now)

'2016-03-01 18:19:00.344000'

In [6]:
print now

2016-03-01 18:19:00.344000

In [7]:
now.year, now.month, now.day

(2016, 3, 1)

In [12]:
now

datetime.datetime(2016, 3, 1, 18, 19, 0, 344000)

In [13]:
now = datetime.now()

In [19]:
now

datetime.datetime(2016, 3, 1, 18, 24, 27, 857000)

In [20]:
delta = datetime(2016, 1, 7) - datetime(2016, 1, 4)
delta

datetime.timedelta(3)

In [21]:
datetime(2016, 1, 7, 11, 0) - datetime(2016, 1, 4, 3, 0)

datetime.timedelta(3, 28800)

In [15]:
from datetime import timedelta

start = datetime(2016, 2, 14)
start + timedelta(3)

datetime.datetime(2016, 2, 17, 0, 0)

In [16]:
start - 2 * timedelta(4)

datetime.datetime(2016, 2, 6, 0, 0)

In [17]:
start - 2 * timedelta(days=4)

datetime.datetime(2016, 2, 6, 0, 0)

In [18]:
start - 2 * timedelta(minutes=4)

datetime.datetime(2016, 2, 13, 23, 52)

In [23]:
?timedelta()

In [25]:
start - 2 * timedelta(days=365.25)

datetime.datetime(2014, 2, 13, 12, 0)

In [26]:
start

datetime.datetime(2016, 2, 14, 0, 0)

In [29]:
now - 2 * timedelta(days=365.25)

datetime.datetime(2014, 3, 2, 6, 24, 27, 857000)

In [32]:
# formating date variables examples
st_date = datetime(2015, 2, 15)
st_date
str(st_date)
st_date.strftime('%Y-%m-%d')

'2015-02-15'

In [33]:
st_date.strftime('%Y-%b-%d')

'2015-Feb-15'

In [35]:
# timeseries objects

dates = [datetime(2016, 1, 2),
        datetime(2016, 1, 5),
        datetime(2016, 1, 7),
        datetime(2016, 1, 8),
        datetime(2016, 1, 10),
        datetime(2016, 1, 12)]

In [37]:
ts = pd.Series(np.random.randn(6), index=dates)
ts

2016-01-02    0.622149
2016-01-05    1.819409
2016-01-07   -0.331143
2016-01-08   -0.121514
2016-01-10    0.439418
2016-01-12    1.239918
dtype: float64

In [38]:
type(ts)

pandas.core.series.Series

In [39]:
ts.index

DatetimeIndex(['2016-01-02', '2016-01-05', '2016-01-07', '2016-01-08',
               '2016-01-10', '2016-01-12'],
              dtype='datetime64[ns]', freq=None)

In [40]:
ts['2016-01-02']

0.62214890935444733

In [41]:
ts['01/02/2016']

0.62214890935444733

In [43]:
ts.index[0]

Timestamp('2016-01-02 00:00:00')

In [44]:
ts

2016-01-02    0.622149
2016-01-05    1.819409
2016-01-07   -0.331143
2016-01-08   -0.121514
2016-01-10    0.439418
2016-01-12    1.239918
dtype: float64

In [45]:
ts[::2]

2016-01-02    0.622149
2016-01-07   -0.331143
2016-01-10    0.439418
dtype: float64

In [47]:
ts[::3]

2016-01-02    0.622149
2016-01-08   -0.121514
dtype: float64

In [48]:
ts + ts[::3]

2016-01-02    1.244298
2016-01-05         NaN
2016-01-07         NaN
2016-01-08   -0.243027
2016-01-10         NaN
2016-01-12         NaN
dtype: float64

In [49]:
?ts.groupby()

In [54]:
ts.resample('Q', how='sum')

2016-03-31    3.668238
Freq: Q-DEC, dtype: float64

In [55]:
# selecting slices of data
longer_ts = pd.Series(np.random.randn(1000),
                     index = pd.date_range('1/1/2000', periods=1000))

In [56]:
longer_ts.head()

2000-01-01    0.340322
2000-01-02    0.944689
2000-01-03   -1.481762
2000-01-04   -2.200434
2000-01-05   -1.713001
Freq: D, dtype: float64

In [58]:
longer_ts['2001'].count()

365

In [59]:
longer_ts['2002'].count()

269

In [60]:
longer_ts['2001-05'].count()

31

In [65]:
longer_ts['01/01/2001']

-1.2960003492986463

In [66]:
ts[datetime(2001, 1, 7):].head()

2016-01-02    0.622149
2016-01-05    1.819409
2016-01-07   -0.331143
2016-01-08   -0.121514
2016-01-10    0.439418
dtype: float64

In [71]:
ts['2016-01-09':'2016-01-10']

2016-01-10    0.439418
dtype: float64

In [72]:
ts.truncate(after='1/11/2016')

2016-01-02    0.622149
2016-01-05    1.819409
2016-01-07   -0.331143
2016-01-08   -0.121514
2016-01-10    0.439418
dtype: float64

In [73]:
ts

2016-01-02    0.622149
2016-01-05    1.819409
2016-01-07   -0.331143
2016-01-08   -0.121514
2016-01-10    0.439418
2016-01-12    1.239918
dtype: float64

In [74]:
# dataframes with timeseries
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

long_df = pd.DataFrame(np.random.randn(100, 4),
                      index=dates,
                      columns = ['Colorado', 'Texas', 'New York', 'Ohio'])

In [75]:
long_df.ix['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -1.434810 -0.617385 -0.738323  0.074482
2001-05-09  1.334221 -0.080856  0.405167 -0.731615
2001-05-16  0.049696  1.186172 -1.595327 -0.828606
2001-05-23  0.398872  1.104561  0.674050 -1.472497
2001-05-30  0.366489 -1.651259  0.482207 -1.216933

In [76]:
long_df.ix['2001'].count()

Colorado    48
Texas       48
New York    48
Ohio        48
dtype: int64

In [80]:
long_df['2001'].count()

Colorado    48
Texas       48
New York    48
Ohio        48
dtype: int64

In [87]:
long_df.ix['05-2001', [0, 2]]

            Colorado  New York
2001-05-02 -1.434810 -0.738323
2001-05-09  1.334221  0.405167
2001-05-16  0.049696 -1.595327
2001-05-23  0.398872  0.674050
2001-05-30  0.366489  0.482207

In [89]:
long_df.ix['05-2001', [0, 2]][::2]

            Colorado  New York
2001-05-02 -1.434810 -0.738323
2001-05-16  0.049696 -1.595327
2001-05-30  0.366489  0.482207

In [97]:
long_df.ix['2001-05-02':'2001-05-16',:]

            Colorado     Texas  New York      Ohio
2001-05-02 -1.434810 -0.617385 -0.738323  0.074482
2001-05-09  1.334221 -0.080856  0.405167 -0.731615
2001-05-16  0.049696  1.186172 -1.595327 -0.828606

In [103]:
dates = pd.DatetimeIndex([
        '1/1/2000',
        '1/2/2000',
        '1/2/2000',
        '1/2/2000',
        '1/3/2000'
    ])

# dataframe
dup_ts = pd.DataFrame(np.arange(5),
                     index=dates)

In [104]:
dup_ts.index.is_unique

False

In [105]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

            0
2000-01-01  0
2000-01-02  2
2000-01-03  4

In [106]:
grouped.count()

            0
2000-01-01  1
2000-01-02  3
2000-01-03  1

In [107]:
ts

2016-01-02    0.622149
2016-01-05    1.819409
2016-01-07   -0.331143
2016-01-08   -0.121514
2016-01-10    0.439418
2016-01-12    1.239918
dtype: float64

In [108]:
ts.resample('D')

2016-01-02    0.622149
2016-01-03         NaN
2016-01-04         NaN
2016-01-05    1.819409
2016-01-06         NaN
2016-01-07   -0.331143
2016-01-08   -0.121514
2016-01-09         NaN
2016-01-10    0.439418
2016-01-11         NaN
2016-01-12    1.239918
Freq: D, dtype: float64

In [109]:
pd.date_range('2/1/2016', '2/11/2016')

DatetimeIndex(['2016-02-01', '2016-02-02', '2016-02-03', '2016-02-04',
               '2016-02-05', '2016-02-06', '2016-02-07', '2016-02-08',
               '2016-02-09', '2016-02-10', '2016-02-11'],
              dtype='datetime64[ns]', freq='D')

In [110]:
pd.date_range(start = '4/1/2012', periods=10)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10'],
              dtype='datetime64[ns]', freq='D')

In [111]:
pd.date_range(end = '4/1/2016', periods = 10)

DatetimeIndex(['2016-03-23', '2016-03-24', '2016-03-25', '2016-03-26',
               '2016-03-27', '2016-03-28', '2016-03-29', '2016-03-30',
               '2016-03-31', '2016-04-01'],
              dtype='datetime64[ns]', freq='D')

In [112]:
pd.date_range('1/1/2008', '12/1/2008', freq = 'M')

DatetimeIndex(['2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30',
               '2008-05-31', '2008-06-30', '2008-07-31', '2008-08-31',
               '2008-09-30', '2008-10-31', '2008-11-30'],
              dtype='datetime64[ns]', freq='M')

In [113]:
pd.date_range('1/1/2008', '12/1/2008', freq = 'W')

DatetimeIndex(['2008-01-06', '2008-01-13', '2008-01-20', '2008-01-27',
               '2008-02-03', '2008-02-10', '2008-02-17', '2008-02-24',
               '2008-03-02', '2008-03-09', '2008-03-16', '2008-03-23',
               '2008-03-30', '2008-04-06', '2008-04-13', '2008-04-20',
               '2008-04-27', '2008-05-04', '2008-05-11', '2008-05-18',
               '2008-05-25', '2008-06-01', '2008-06-08', '2008-06-15',
               '2008-06-22', '2008-06-29', '2008-07-06', '2008-07-13',
               '2008-07-20', '2008-07-27', '2008-08-03', '2008-08-10',
               '2008-08-17', '2008-08-24', '2008-08-31', '2008-09-07',
               '2008-09-14', '2008-09-21', '2008-09-28', '2008-10-05',
               '2008-10-12', '2008-10-19', '2008-10-26', '2008-11-02',
               '2008-11-09', '2008-11-16', '2008-11-23', '2008-11-30'],
              dtype='datetime64[ns]', freq='W-SUN')

In [114]:
pd.date_range('1/1/2008', '12/1/2008', freq = 'BM')

DatetimeIndex(['2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30',
               '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29',
               '2008-09-30', '2008-10-31', '2008-11-28'],
              dtype='datetime64[ns]', freq='BM')

In [115]:
pd.date_range('5/2/2012 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [116]:
pd.date_range('5/2/2012 12:56:31', periods = 5, normalize = True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [117]:
# frequencies and date offsets
from pandas.tseries.offsets import Hour, Minute

hour = Hour()

In [120]:
Hour(4) + Minute(2)

In [121]:
pd.date_range('5/2/2012 12:56:31', periods=5, freq='4h')

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-02 16:56:31',
               '2012-05-02 20:56:31', '2012-05-03 00:56:31',
               '2012-05-03 04:56:31'],
              dtype='datetime64[ns]', freq='4H')

In [125]:
pd.date_range('1/2/2008', '1/3/2008', freq = '1h30min')

DatetimeIndex(['2008-01-02 00:00:00', '2008-01-02 01:30:00',
               '2008-01-02 03:00:00', '2008-01-02 04:30:00',
               '2008-01-02 06:00:00', '2008-01-02 07:30:00',
               '2008-01-02 09:00:00', '2008-01-02 10:30:00',
               '2008-01-02 12:00:00', '2008-01-02 13:30:00',
               '2008-01-02 15:00:00', '2008-01-02 16:30:00',
               '2008-01-02 18:00:00', '2008-01-02 19:30:00',
               '2008-01-02 21:00:00', '2008-01-02 22:30:00',
               '2008-01-03 00:00:00'],
              dtype='datetime64[ns]', freq='90T')

In [126]:
pd.date_range('1/1/2012', '9/1/2012', freq = 'WOM-3FRI')

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [129]:
pd.date_range('1/1/2012', '9/1/2012', freq = 'WOM-1MON')

DatetimeIndex(['2012-01-02', '2012-02-06', '2012-03-05', '2012-04-02',
               '2012-05-07', '2012-06-04', '2012-07-02', '2012-08-06'],
              dtype='datetime64[ns]', freq='WOM-1MON')

In [130]:
pd.date_range('1/1/2012', '9/1/2012', freq = 'Q-JAN')

DatetimeIndex(['2012-01-31', '2012-04-30', '2012-07-31'], dtype='datetime64[ns]', freq='Q-JAN')

In [131]:
pd.date_range('1/1/2012', '9/1/2012', freq = 'Q')

DatetimeIndex(['2012-03-31', '2012-06-30'], dtype='datetime64[ns]', freq='Q-DEC')

In [134]:
# lag and lead dataseries
ts = pd.Series(np.random.randn(4),
              index = pd.date_range('1/1/2000', periods = 4, freq = 'M'))

In [135]:
ts

2000-01-31   -0.276124
2000-02-29   -0.316007
2000-03-31    1.081318
2000-04-30    0.971876
Freq: M, dtype: float64

In [136]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.276124
2000-04-30   -0.316007
Freq: M, dtype: float64

In [137]:
ts.shift(-1)

2000-01-31   -0.316007
2000-02-29    1.081318
2000-03-31    0.971876
2000-04-30         NaN
Freq: M, dtype: float64

In [138]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29    0.144439
2000-03-31   -4.421815
2000-04-30   -0.101212
Freq: M, dtype: float64

In [159]:
pd.date_range('1/1/2012', '9/1/2012', freq = 'WOM-3FRI')

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [155]:
pd.date_range('1/1/2012', '9/1/2012', freq = 'BM')

DatetimeIndex(['2012-01-31', '2012-02-29', '2012-03-30', '2012-04-30',
               '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31'],
              dtype='datetime64[ns]', freq='BM')

In [164]:
pd.bdate_range('1/1/2016', '12/31/2016', freq = 'WOM-3SUN')

DatetimeIndex(['2016-01-17', '2016-02-21', '2016-03-20', '2016-04-17',
               '2016-05-15', '2016-06-19', '2016-07-17', '2016-08-21',
               '2016-09-18', '2016-10-16', '2016-11-20', '2016-12-18'],
              dtype='datetime64[ns]', freq='WOM-3SUN')

In [165]:
pd.bdate_range('1/1/2016', '12/31/2016', freq = 'WOM-3FRI')

DatetimeIndex(['2016-01-15', '2016-02-19', '2016-03-18', '2016-04-15',
               '2016-05-20', '2016-06-17', '2016-07-15', '2016-08-19',
               '2016-09-16', '2016-10-21', '2016-11-18', '2016-12-16'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [166]:
pd.bdate_range('1/1/2016', '12/31/2016', freq = 'WOM-4FRI')

DatetimeIndex(['2016-01-22', '2016-02-26', '2016-03-25', '2016-04-22',
               '2016-05-27', '2016-06-24', '2016-07-22', '2016-08-26',
               '2016-09-23', '2016-10-28', '2016-11-25', '2016-12-23'],
              dtype='datetime64[ns]', freq='WOM-4FRI')

In [167]:
# options expiry
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
import pandas as pd
import datetime as dt

BDAY_US = CustomBusinessDay(calendar=USFederalHolidayCalendar())
bus_dates =pd.date_range(start=dt.datetime(2015,1,1), end=dt.datetime(2015,1,20), freq=BDAY_US)

In [168]:
bus_dates

DatetimeIndex(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07',
               '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
               '2015-01-14', '2015-01-15', '2015-01-16', '2015-01-20'],
              dtype='datetime64[ns]', freq='C')

In [169]:
?pd.bdate_range