In [1]:
import numpy as np
import pandas as pd

In [2]:
wage = pd.read_csv('wage1.csv')
wage.head()

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,...,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq
0,3.10,11,2,0,0,1,0,2,1,0,...,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,...,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,...,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1.791760,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1.667707,49,4

In [3]:
import statsmodels.api as sm
y = wage.wage
X = sm.add_constant(wage.educ)

lm = sm.OLS(y, X)
lm_fit = lm.fit()

In [6]:
resid = y - lm_fit.predict()
resid.sum()
sst = np.dot((y-y.mean()).T, (y-y.mean()))
sse = np.dot((lm_fit.predict()-y.mean()).T, (lm_fit.predict()-y.mean()))
ssr = np.dot(resid.T, resid)
sse/sst

0.16475750991900417

Caution: A high R-squared doesnot necessarily mean that the regression has a causal interpretation!

In [7]:
y1 = wage.lwage
X1 = sm.add_constant(wage.educ)

lm1 = sm.OLS(y1, X1)
lm1_fit = lm1.fit()
lm1_fit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  lwage   R-squared:                       0.186
Model:                            OLS   Adj. R-squared:                  0.184
Method:                 Least Squares   F-statistic:                     119.6
Date:                Tue, 19 Apr 2016   Prob (F-statistic):           3.27e-25
Time:                        18:39:49   Log-Likelihood:                -359.38
No. Observations:                 526   AIC:                             722.8
Df Residuals:                     524   BIC:                             731.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const          0.5838      0.097      5.998      0.000         0.393     0.775
educ           0.0827      0.008     10.935      0.000         0.068     0.098
==============================================================================
Omnibus:                       11.804   Durbin-Watson:                   1.801
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               13.811
Skew:                           0.268   Prob(JB):                      0.00100
Kurtosis:                       3.586   Cond. No.                         60.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [8]:
n = float(wage.wage.count())
sigmasq = (1/(n-2)) * ssr

In [9]:
sigmasq

11.413515848909967

In [10]:
X.head()

   const  educ
0      1    11
1      1    12
2      1    11
3      1     8
4      1    12